$colors: (
	contrast: hsla(38, 49%, 66%, 1),
	primary: hsla(229, 33%, 34%, 1),

	dark: (
		100: hsla(0, 0%, 18%, 1),
		200: hsla(0, 0%, 50%, 1),
		300: hsla(0, 0%, 0%, 1)
		
	),

	light: (
		100:hsla(0, 0%, 80%, 100%),
		200:hsla(0, 0%, 90%, 100%),
		300:hsla(0, 0%, 100%, 1)
	)	
)